body {
  background: #33d9b2;
  font-size: 12px;
}

body,
button,
input {
  font-family: "Righteous", cursive;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-title {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  color: #33d9b2;
  font-size: 26px;
  text-transform: uppercase;
  border-left: 4px solid #218c74;
  padding: 10px;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #fff;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #33d9b2;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

.app-form-button:hover {
  color: #218c74;
}

.showdata {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding-top: -10px;
  padding-bottom: 10px;
}

.display-none {
  display: none;
}

.display-show {
  display: table;
  width: 80%;
  margin: auto;
}

@media (max-width: 576px) {
  /* .screen-body-item.left {
    display: inline-block;
    margin: 40px auto;
    text-align: center;
  } */

  .screen-body-item {
    flex: 1;
    padding: 0px;
    width: 100%;
  }

  .app-form-control {
    width: 100%;
    padding: 10px 0px;
    font-size: 10px;
  }

  .app-title {
    font-size: 10px;
    padding: 10px;
  }
}
