h1 {
  font-size: 3rem;
}

#btn {
  font-weight: bolder;
  display: inline-block;
  box-shadow: 4px 2px 2px #868b99;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 14px;
    
  padding: 10px 25px;
  position: relative;
  transition: all 0.1s ease;
  margin: 0 10px;
}

.btn:active {
  box-shadow: 0 0 0 #7e7e7e;
  transform: translate(2px, 2px);
}

.btn-start {
  background: #f7971e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffd200,
    #f7971e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffd200,
    #f7971e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 0;
}

.btn-stop {
  background: #d31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ea384d,
    #d31027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ea384d,
    #d31027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 0;
}


h2{
 
  display: inline-block;
  width: 70px;
}